@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*, *:before, *:after{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (min-width: 100px) {
	header, header ul{
		display: column;
	}
}

@media only screen and (min-width: 768px) {
	header, header ul{
		display: flex;
	}
}

body {
    background: #fff;
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky {
    padding: 15px 100px;
    background: rgba(255, 255, 255, 1);
}

header.sticky ul li a {
    color: rgba(0, 0, 0, 0.7);
}

header.logo {
    position: relative;
    transition: 0.6s;
}

header ul {
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    padding: 10px;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
 }

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: brightness(50%);
}

.navlink {
    position: relative;
}

.navlink:hover{
    color: #b8b8b8;
    transition: 0.3s;
}

.navlink::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}

.navlink::before{
    transition: 1s;
}

.navlink:hover::after {
    opacity: 1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.container h1 {
    margin: 0;
    font-size: 60px;
   
}


.container h1 span {
    border: 6px solid white;
    padding: 30px 30px;
    display: inline-block;
}

.cen {
    margin: 20px;
    display: block;
    font-size: 25px;
    font-weight: 500;
}

.cen span {
    color: red;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 100000;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 150px;
    height: 150px;
    border: 15px solid #dddddd;
    border-top-color: red;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate (0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #555; /* A slightly lighter color for the thumb */
    border-radius: 6px; /* Slight rounding */
}
  
::-webkit-scrollbar-thumb:hover {
    background: #777; /* Hover color for the thumb */
}
  
::-webkit-scrollbar-track {
    background: #222; /* Dark grey color for the track */
}
  
  /* Custom scrollbar styles for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #555 #222;
}
  
  /* Custom scrollbar styles for Internet Explorer (partial support) */
body {
    scrollbar-base-color: #555; /* A slightly lighter color for IE scrollbar */
    scrollbar-arrow-color: #222; /* Dark grey color for IE scrollbar arrows */
}